html, body{
    height: 100%;
    width: 100%;
    margin: 0;
}

nav{
    position: absolute;
}

section{
    height: 100%;
    width: 100%;
}

li{
    list-style: none;
    text-align: center;
}

.container{
    width: 80%;
    margin: 0 auto;
}

.card{
    position: relative;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #FFCF99;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    padding: 24px;
    border-radius: 0 0 2px 2px;
}

.icon-block{
    padding: 0 20px;
    margin-bottom: 15px;
}

.center-text{
    text-align: center;
}

.tile{
    
}


/* Small devices (portrait tablets and large phones, 600px and up) 
@media only screen and (min-width: 600px) {...} 

/* Medium devices (landscape tablets, 768px and up) 
@media only screen and (min-width: 768px) {...} 

/* Large devices (laptops/desktops, 992px and up) 
@media only screen and (min-width: 992px) {...} */



#home{
    background: linear-gradient(
        rgba(0, 0, 0, .7),
        rgba(0, 0, 0, .7)
        ),
        url(../images/highlineBg.jpg)
        ;
    background-repeat: no-repeat;
    background-size: cover;
}

.grid-wrapper{
   
    width: 80%;
    margin: 50px auto;
    display: grid;
    
}

.grid-wrapper-template-about{
    grid-template-areas:
    "right-content"
    "right-content";
}


#about{
    display: grid;
}

.about-left-content{
    display: none;
    grid-area: left-content;
    align-items: center;
    justify-items: center;
    
    /*background: url(https://ak8.picdn.net/shutterstock/videos/2302028/thumb/1.jpg);*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.about-right-content{
    grid-area: right-content;
    width: 100%;
    display: grid;
    align-items: center;

   
}

.content-right-content-wrapper{
    margin: 0 auto;
    text-align: center;
    font-size: 1.1rem;
    
}


#skills{
    display: grid;

}


/* Style all font awesome icons */
.fa {
    font-size: 35px !important;
    width: 100%;
    text-align: center;
    text-decoration: none;
}

/* Add a hover effect if you want */
.fa:hover {
    opacity: 0.7;
}

.smLinks{
    display: flex;
    align-items: center;
    justify-content: center;
}





